%ul#sightings
- if @sightings.blank?
  %p
    %strong
      Tarla hasn't been spotted recently, that elusive girl.
      = link_to 'Have you seen her?', new_sighting_path
  %p
    Tarla sightings expire after 15 minutes. We haven't had any last more
    than 10 minutes before, but better safe than sorry!
- else
  = render @sightings
- content_for :controls do
  = link_to 'Add a Tarla sighting', new_sighting_path, :id => 'new-sighting'
