@import compass/reset
@import blueprint/colors
@import blueprint/typography
@import compass/css3
@import compass/utilities

$background_color: #c6a6cd
$button_color: $background_color - #222
$font_color: $background_color - #777
$header_color: $font_color - #111
$link_color: $background_color - #aaa
$link_hover_color: $link_color + #222
$link_visited_color: $link_color + #333
$loud_color: #fff

=component
  :background $button_color
  :border 1px solid ($background_color + #111)
  :color #fff !important
  :margin-bottom 1em
  :padding 1em
  p:last-child
    :margin-bottom 0

=button
  +component
  :background $button_color
  :padding 4px 6px 4px 24px
  :text-decoration none
  &:hover
    :background-color ($background_color - #333)

=icon-button($icon)
  +button
  $icon: "/images/icons/#{$icon}.png"
  +icon($icon)

=icon($icon_path)
  $icon_path: unquote($icon_path)
  :background $button_color url($icon_path) no-repeat 4px 50% !important

+blueprint-typography

.notice
  :color green
  :font-weight bold

html, body
  :height 100%

body
  :background $background_color url(/images/tarla_bg.png) no-repeat left top
  :min-width 800px

label, input, button
  :cursor pointer

#container
  +box-sizing(border-box)
  :padding 1em 1em 1em 300px
  p
    :width 50%

header
  +clearfix

h1
  :float left

#controls
  :float left
  :margin 1em 0 0 2em

#sightings
  :list-style none
  :margin 0
  :padding 0
  > li
    +component
    :background
      :image url(http://images.neopets.com/site_events/2010/tarla/pushdown/prize_puzzle.png)
      :repeat no-repeat
      :position 10px 10px
    :min-height 80px
    :padding 10px 10px 10px 100px
    :position relative
    .created_at
      :font-size 90%
      :margin-left .5em
    .score
      +loud
      :font
        :size 200%
      :left 10px
      :position absolute
      :text-align center
      :top 30px
      :width 80px
    a
      :font-size 200%
    ul.votes
      +horizontal-list
      :margin-bottom 1em
      li img
        :height 8px
        :width 8px
    form
      :float left
      :margin-right .5em
    form.positive-vote input
      +icon-button(accept)
    form.negative-vote input
      +icon-button(delete)

#new-sighting
  +clearfix
  label, input[type=text]
    :display block
    :margin-bottom 1em
  label
    :font
      :size 150%
      :weight bold
  input
    :float left
    &[type=text]
      :font-size 200%
      :width 80%
    &[type=submit]
      :margin
        :left 1em
        :top .5em

#before-you-submit
  +component
  :display none

#request-notification-permission
  +component
  :display none
  :width 50%
  p
    :width 100%

#no-sightings.hidden
  :display none

h3.world img
  :height 50px
  :margin
    :bottom -1em
    :right .5em
  :width 50px

#locations ul
  li > *
    +inline-block
  a
    :font-size 125%
    :width 10em
  form
    :margin-top .5em
    &.new-sighting input
      +icon-button(accept)
    &.new-all-clear input
      +icon-button(delete)
  .last-cleared
    :margin-left 1em

$location_height: 256px
$location_offset: 100px

#location-confirmation
  :bottom 0
  :display none
  :height $location_height
  :left 0
  :overflow hidden
  :position fixed
  :width 100%
  :z-index 2
  &.show-all
    :overflow visible
    a
      :margin-top -$location_offset
  a
    :background #333
    :color #fff
    :font-size 150%
    :position absolute
    :text-align center
    :text-decoration none
    :width 50%
    :z-index 3
    &:hover
      :font-weight bold
  #confirm-sighting
    :background green
    :left 0
  #deny-sighting
    :background red
    :right 0
  iframe
    :bottom 0
    :height $location_height + $location_offset
    :left 0
    :margin-top -$location_offset
    :width 100%

#location-explanation
  +component
  :width 50%
  p
    :width 100%

body.location-confirmation-showing
  :padding-bottom $location_height + $location_offset + 10px

.new-sighting-button
  +icon-button(add)

.sightings-list-button
  +icon-button(arrow_left)
  
.reload-button
  +icon-button(arrow_refresh)

.locations-list-button
  +icon-button(map)
  :background-color green !important
  :font-weight bold

.loading
  :background-image url(/images/loading.gif) !important

.grant-notification-permission-button
  +icon-button(accept)

.hidden-js-control
  :display none
  
footer
  :position absolute
  :left 10px
  :top 10px + 346px
  :width 260px
  :z-index 1
  a
    :font-weight bold

.errorExplanation
  +component
  :width 50%
  p
    :font-weight bold

#sharethis_0 a
  +button
  +icon("http://w.sharethis.com/images/share-icon-16x16.png")

input.placeholder
  :color #ccc

*:focus
  outline: 1px dotted ($link_color)
