%h2 This project is retired.

#retirement-notice
  :markdown
    Back in May 2010, Tarla went on her [Tour of Mystery][1]. Every hour or two
    she'd randomly appear on a different page in Neopia for only 10 minutes, and
    everyone who found her in time got a prize. It was pretty fun.
    
    So, we built this tool to help Neopians keep track of where Tarla had been.
    It was lots of fun to build and it was put to good use, but now Tarla's Tour
    is ancient history, so there's not much left to do here.
    
    Still, the site is up and running both for educational purposes and so we
    can quickly go back in action should Tarla go touring again someday.
    Feel free to [check out the rest of the site][2] and even
    [browse the source code][3] if that's your cup of tea, but know that nobody
    else will be using the site, nor will it be updated.
    
    Even websites need to go into retirement. C'est la vie. But
    our sister site, [Dress to Impress][4], is still alive and kicking!
    
    [1]: http://www.neopets.com/tarla/index.phtml
    [2]: #{sightings_path}
    [3]: http://github.com/matchu/openneo-tarla
    [4]: http://impress.openneo.net/
